/* Mobile first approach */

.button {
    padding: 1.6rem 4rem;
    display: flex;
    gap: 0.8rem;
    background-color: var(--btn-color);
    color: var(--white);
    transition: background-color 0.5s ease;
    will-change: background-color;
    align-self: center;
    border: none;
    border-radius: 29px;
}

.button:hover {
    cursor: pointer;
    background-color: var(--btn-hover-color);
}

.button span {
    color: var(--btn-span-color);
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

@media (min-width: 40.625rem) {
    .buttons {
        flex-direction: row;
        gap: 1.7rem;
    }
}

/* additional style for button in footer */
.footer-cta .button {
    align-self: center;
}

@media (min-width: 56.25rem) {
    .footer-cta .button {
        align-self: flex-start;
    }
}
